<table class="table table-striped-columns">
  <thead>
    <tr>
      <th scope="col">title</th>
      <th scope="col">price</th>
      <th scope="col">desription</th>
      <th scope="col">Actions</th>
    </tr>
  </thead>
  <tbody>
    @for (product of products; track product.id) {
    <tr>
      <td>{{ product.id }}</td>
      <td>{{ product.title }}</td>
      <td>{{ product.description }}</td>
      <td>{{ product.price }}</td>
      <td>
        <button
          type="button"
          (click)="eliminar(product)"
          class="btn btn-warning"
        >
          Eliminar
        </button>
      </td>
    </tr>
    }
  </tbody>
  <tfoot>
    total de registros
  </tfoot>
</table>
